02-experiment-tracking/Passwords
02-experiment-tracking/model-registry.ipynb
data/
.ipynb_checkpoints
.bin
*.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/raw_data/
**/artifacts/
**/models/
**/mlruns/
**/data/
**/config/
**/logs/
**/05-monitoring/
**/06-best-practices/
**/07-project/


__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store